#blog_noticias{
    width: 100vw;
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 35% 35% 25%;
    justify-content: center;
    gap: 10px;
}

#primario{
    border: 1px solid red;
    background: #fff;
}
#primario h2{
    background:#949494 ;
    text-align: center;
    text-transform: uppercase;
    color: #e9e9e9;
}
#primario h3{
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    text-transform: uppercase;
    color: #e9e9e9;
}

#secudario h2{
    background:#949494 ;
    text-align: center;
    text-transform: uppercase;
    color: #e9e9e9;
}
#secudario h3{
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    text-transform: uppercase;
    color: #e9e9e9;
}
#lateral{
    border-radius: 10px;
    display: block;
    justify-content: center;
}
#lateral h3{
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    text-transform: uppercase;
    color: #e9e9e9;
}
#lateral h2{
    background:#949494 ;
    text-align: center;
    text-transform: uppercase;
    color: #e9e9e9;
}
#lateral ul , li , a{
    padding: 5px;
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: block;
    justify-content: center;
}
#lateral a{
    border: 1px solid #000;
    border-radius: 15px;
    color: black;
}
#lateral a:hover {
    background: rgba(0,0,0,0.2);
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

