#blog_noticias{
    width: 100vw;
    min-height: calc(100vh - 100px);
    margin-top: 100px;
    background: #f6f5f3;
    padding: 10px;
    display: grid;
    grid-template-columns: 34% 34% 24%;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

#primario h2, #lateral h2, #secudario h2{
    background:#483D8B;
    text-align: center;
    text-transform: uppercase;
    color: #e9e9e9;
    margin-bottom: 0.5em;
}

#lateral{
    border: 1px solid #483D8B;
    background: rgba(245,222,179,0.5);
    display: block;
    justify-content: center;
}
#lateral h3, #secudario h3, #primario h3{
    background: #483D8B;
    text-align: center;
    text-transform: uppercase;
    color: #e9e9e9;
}

#lateral ul , li , a{
    padding: 10px;
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: block;
    justify-content: center;
}
#lateral a{
    background: #483D8B;
    border: 1px solid #000;
    border-radius: 10px;
    color: #fff;
    transition: 2s;
}
#lateral a:hover {
    background: rgba(0,0,0,0.3);
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.roda-pe{
    width: 100%;
    background: #483D8B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rada-pe2{
    margin: 1rem;
}
.roda-pe h2{
    font-size: 28px;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 15px;
}
.icons-blog{
    display: flex;
    justify-content: center;
   
}
.icons-blog a{
    color: #e9e9e9;
}
/************************************* media ********************/
@media(max-width:769px){
    #blog_noticias{
        grid-template-columns: 45% 45%;
        
    } 
    #lateral{
        display: none;
    }
    .icons-blog a{
        font-size: 10px;
        color: #e9e9e9;
    }
}

