#cadastro-coop{
    width: 100vw;
    min-height: calc(100vh - 100px);
    background: #f7f6f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-cadastro{
    width: 40%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formulario-cadastro{
    width: 60%;
    min-height: 100%;
    border-radius: 15px;
    background: #f7f6f4;
    display: inline-block;
    justify-content:center;
    flex-direction: column;
}
fieldset{
    border: none;
    padding: 10px;
    height: 100%;
}
legend{
    border-radius: 8px;
    padding: 10px;
    justify-content: baseline;
}
input{
    width: 80%;
    padding: 5px;
    margin: 15px;
    text-transform: uppercase;
}
.btn-cadastro2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-enviar2 {
    width: 40%;
    margin: 10px;
    border: none;
    border-radius: 15px;
    background: #2c8834;
    color: #fff;
    cursor: pointer;
}