#lista-empreendor{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}
#buscar{
    background: #EEE8AA;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.dandos-pesquisar {
    width: 40%;
}
#pesquisar-dados{
    gap: 10px;
    width: 80%;
}
#btn-pesquisar{
    background: #EEE8AA;
    padding: 9px;
    border-radius: 8px;
}
#btn-pesquisar:hover{
    padding: 10px;
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 8px;
}
/****************************formataçao de tabela ********************************************************/
.tabela_de_cadastro{
    width: 100%;
    background: #EEE8AA;
}
table{
    width: 100%;
}
th{
    border: 1px solid #000;
}
td{
    width: 300px;
    height: 80px;
    margin: 0;
    text-align: center;
    background: #fff;
    color: #000;
    border: none;
    border-collapse: collapse

}
.btn-delete{
    color: black;
    background: red;
    border:none;
    padding: 10px;
    cursor: pointer;
}
/***************** media Query *****************************************/
@media(max-width:769px){
   
    .dandos-pesquisar {
        width: 40%;
    }
    th{
    width: 100px;
    font-size: 10px;
    }
    td{
        font-size: 5px;
    }
    #input-busca{
        width: 200px;
        border: 1px solid black;
    }
    .ico-pesquisa{
        display: none;
    }
}